body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
}

.logo{
   text-align: center;
   padding-top: ;

   height: 100px;

   
}

.main{
  display:flex;
  flex-direction: column-reverse;
  align-items:center;
  justify-content: center;
  height: 80vh;
}
.container {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  max-width: 400px;
  width: 90%;
  
  
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.status-box {
  background-color: #ffffff10;
  padding: 20px;
  border-radius: 12px;
  font-size: 1.2rem;
}

#smokeLevel {
  font-size: 2.5rem;
  margin: 10px 0;
}

#status {
  font-weight: bold;
}

.alert {
  color: #ff4b5c;
}

.safe {
  color: #3fffac;
}

.team-header {
  margin-top: 40px;  
  height: 100px;  
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
  
}

.footer{
  background-color: #1e3c72;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:;
  
  text-align: center;
  padding: 1em;

}
